@import '../@theme/styles/themes';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~@nebular/theme/styles/core/theming/_install.scss';

@include nb-install-component() {
  ::ng-deep router-outlet + * {
    
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
